@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    font-family: "JetBrains Mono", serif;
    color: #E2E5DC;
    margin: 0;
    background: cover;
    padding: 0;
}

body {
    background-image: linear-gradient(to left, #202617, #434F30);
    margin: 0; 
    padding: 0; 
  }

header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    width: 100%;
    padding: 0;
}

.titles{
    color: #C46BC9 !important; 
    font-weight: bolder; 
}
/* NAVBAR */

header nav {
    position: fixed;
}

.nav{
    background-color: #A67C52 !important;
    z-index: 9999;
}

.logo {
  display: flex;
  align-items: center;
}
.responsive-logo {
  width: 80px; /* ajuste o tamanho da logo */
  height: auto;
  object-fit: cover;
}
@media (max-width: 768px) {
  .responsive-logo {
    width: 100px; 
  }
}
.navbar-toggler {
  border: none;
  color: #C9D3C1 !important;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.navbar-toggler-icon {
  font-size: 24px;
}

.collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.nav-menu {
  flex-direction: column;
  align-items: center;
}

.nav-item {
  margin-bottom: 10px;
}


@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
  .collapse {
    flex-basis: auto;
    flex-grow: 0;
  }
  .navbar-collapse{
    display: flex !important;
  }
  .nav-menu {
    flex-direction: row;
  }
  .nav-item {
    margin-bottom: 0;
  }
}


.profile-img {
    width: 350px; 
    height: 350px; 
    border-radius: 50%;
    object-fit: cover; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}
.profile-text{
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 60%;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    justify-content: center; 
    gap: 20px; 
    align-items: center;

  }

.social-icon {
    padding: 0 10px 0 10px;
    margin-top: 20px;
    display: inline-block;
    width: 70px;
    height: 70px;
}
.social-icon:hover {
    transform: scale(1.3);
    filter: brightness(1.4); 
}
.icon-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* PROFILE */
#description{
    flex-direction: column;
    padding-bottom: 30px;
}
#text-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-left: 50px; 
}

#profile{
    flex-direction: column;
    padding-bottom: 50px;
    margin-top: 50px;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn { 
    background-color: #D97A54 !important; 
    border: none;
    color: #E2E5DC !important; /* Cor do texto */
    font-size: 16px !important;
    padding: 10px 20px !important;
    border-radius: 15px !important;
    cursor: pointer !important;
}
.btn:hover {
    transform: scale(1.03) !important;
    background-color: #CD5220 !important;
}
.destac-text{
    font-size: 2rem; 
    color: #C46BC9; 
    font-weight: bold;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    overflow: hidden;
  }
  .aparecer {
    opacity: 0; 
    transform: scale(0.8);
    animation: fadeInEffect 2s ease-out forwards; /*  animação */
  }
  @keyframes fadeInEffect {
    0% {
      opacity: 0;
      transform: scale(0.8); /* Reduzido */
    }
    100% {
      opacity: 1;
      transform: scale(1); /* Tamanho normal */
    }
  }

  @media (max-width: 768px) {
    #home {
        flex-direction: column; 
        padding: 20px;
    }

    #profile {
        margin-top: 20px;
        padding-bottom: 20px; 
    }

    .destac-text{
      font-size: 25px; 
      color: #C46BC9; 
      font-weight: bold;
  }

  .profile-text{
    font-size: 20px;
    align-items: center;
    width: 80%;
  }

    .image-container {
        height: 60%; 
        width: 70%;
    }

    .profile-img {
        width: 70%; 
        height: 70%; 
        border-radius: 50%;
        margin-bottom: 10px; 
    }

    #description {
        padding-bottom: 10px;
    }

    #text-container {
        padding-left: 0; 
        text-align: center; 
    }

    .button-container {
        margin-top: 10px; 
    }

    .social-icons {
        flex-direction: row; 
        justify-content: center; 
        gap: 10px;
        margin-top: 20px;
    }

    .btn {
        font-size: 14px; 
        padding: 8px 16px;
    }

    .scroll-indicator {
        display: none;
    }
}
/* ABOUT-ME */

#about-me {
  background-color: #202617;
  color: #C9D3C1;
  text-align: start;
  padding: 50px;
}

.text-style {
  padding: 40px 15px 20px 15px; 
  font-size: 1.2rem;
  color: #C9D3C1;
  text-align: center; 
}

.info-card {
  padding: 20px; 
  background-color: #434F30;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.info-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.info-card h4 {
  color: #C46BC9;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.info-card p {
  color: #C9D3C1;
  font-size: 1rem;
  text-align: center;
}

#card-container {
  padding: 20px;
}

@media (max-width: 992px) {
  .text-style {
      font-size: 1rem;
      padding: 30px 10px;
  }

  .info-card {
      padding: 20px;
      margin-bottom: 20px; 
  }

  #card-container {
      padding: 20px;
  }
}

@media (max-width: 768px) {
  .text-style {
      font-size: 0.9rem;
      text-align: center; 
      padding: 20px 10px;
  }

  #card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; 
      padding: 10px;
  }

  .info-card {
      width: 100%; 
      margin-bottom: 15px;
      padding: 15px;
  }
}

@media (max-width: 576px) {
  .text-style {
      font-size: 0.9rem;
      padding: 5px;
  }

  .info-card {
      padding: 10px;
  }
}


/* SKILLS */
#skills {
  background-image: linear-gradient(to right, #202617, #434F30);
  color: #E2E5DC;
  text-align: center;
  padding: 50px;
}

.botoes-forms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(67, 99, 67, 0.4);
  margin: 0 auto 20px auto;
  position: relative;
  max-width: 500px; /* Define um limite para telas menores */
}

.botoes-forms button {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 12px 20px;
  width: 50%;
  font-weight: bold;
  z-index: 1;
  transition: color 0.3s ease;
  font-size: 1rem; /* Ajusta o tamanho do texto */
}

.btn-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to right, #202617, #D97A54);
  border-radius: 30px;
  transition: left 0.3s ease;
}

.card-hab {
  display: none !important;
  width: 100%;
  align-items: center;
  margin: 0;
}

.card-hab.active {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza os cards */
  gap: 20px; /* Espaçamento entre os cards */
}

.info-card {
  background-color: #434F30;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%; /* Ocupa 100% do espaço disponível por padrão */
  max-width: 250px; /* Limita o tamanho máximo dos cards */
  transition: transform 0.3s, box-shadow 0.3s;
}

.info-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.info-card h4 {
  color: #C46BC9;
  margin-bottom: 1rem;
}

.icons-card {
  font-size: 4rem;
  margin-top: 10px;
}

@media (max-width: 992px) {
  
  .botoes-forms {
      width: 90%; 
  }

  .info-card {
      max-width: 200px; 
      padding: 15px; 
  }

  .icons-card {
      font-size: 3rem; 
  }
}

@media (max-width: 768px) {
  .botoes-forms {
      flex-direction: row; 
      width: 100%; 
      gap: 10px;
  }

  .botoes-forms button {
      font-size: 0.9rem; 
      width: 90%; 
  }

  .info-card {
      max-width: 100%; 
  }

  .icons-card {
      font-size: 2.5rem; 
  }

  .card-hab {
      gap: 15px; 
  }
}

@media (max-width: 576px) {

  .info-card {
      padding: 30px; 
  }

  .icons-card {
      font-size: 3.5rem; 
  }

  .botoes-forms button {
      font-size: 0.8rem; 
  }
}


/* PROJETOS */
#projects {
  padding: 60px 0;
  background-color: #434F30;
  text-align: center;
  padding: 50px;
}

.project-card {
  padding: 80px;
}

.project-card img {
  border-radius: 8px;
  max-width: 60%;
  height: auto;
  margin: 0 auto 15px;
}

.project-card h4 {
  font-weight: bolder;
  font-size: 1.5rem;
  color: #C46BC9;
}

.project-card p {
  font-size: 1rem;
  color: #E2E5DC;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
}

.social-icon-p {
  display: inline-block;
  margin-left: 10px;
  text-align: center;
}

.project-icon {
  margin-top: 12px !important;
  width: 70px !important;
  height: 45px !important;
  transition: transform 0.2s ease-in-out;
}

.project-icon:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}

@media (max-width: 768px) {
  #projects {
    padding: 30px 0;
  }
  .project-card {
    padding: 40px;
  }
  .project-card img {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  #projects {
    padding: 20px 0;
  }
  .project-card {
    padding: 20px;
  }
  .project-card img {
    max-width: 90%;
  }
  .project-card h4 {
    font-size: 1.2rem;
  }
  .project-card p {
    font-size: 0.8rem;
  }
  .social-icon-p {
    width: 20%;
  }
}
  

  /* CONTATO */

  #contato {
    background-color: #7E8C69;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #contato h3 {
    font-size: 2rem;
    color: #202617;
    text-align: center;
    margin-bottom: 30px;
  }
  
  #contato form input,
  #contato form textarea,
  #contato form button {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
  }

  #contato form label {
    font-weight: bold;
    color: #E2E5DC;
  }

  #submitSuccessMessage {
    color: #28a745;
    font-weight: bold;
    text-align: center;
  }

  #submitErrorMessage {
    color: #dc3545;
    font-weight: bold;
    text-align: center;
  }

  @media (max-width: 375px) {
    #contato h3 {
      font-size: 1.2rem;
    }
  
    #contato form input,
    #contato form textarea {
      font-size: 0.9rem;
    }
  
    #contato form button {
      font-size: 0.8rem;
      padding: 10px;
    }
  }

/* FOOTER */
  #footer {
    background-color: #A67C52;
    color: #E2E5DC;
    padding: 20px 0;
    text-align: center;
  }
  
  #footer .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #footer .responsive-logo {
    width: 150px;
    height: auto;
    
  }

/* CSS DO EFEITO */
#typing-effect::after {
    content: "|";
    display: inline-block;
    margin-left: 4px;
    animation: blink 1s infinite;
    color: #C46BC9; 
}

.scroll-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  
  .scroll-indicator i {
    font-size: 24px;
    animation: bounce 2s infinite; 
    display: block;
    margin-top: 5px;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }

